debian/cache/
vagrant/*/salt
vagrant/*/pillar
vagrant/*/project
vagrant/*/projects
vagrant/*/projets
vagrant/*/projet
.docker*
ubuntu-base.tar.gz
.done/
debian/debian-base.tar.gz
debian/deboostrap/
debian/debian-base.tgz
cache/
deboostrap/
