packer_cache
devhost-*.tar.bz2
package.box.tar.tbz2
/VM/
/share/
mastersalt-pillar/
mastersalt/
packer/**/*.box
debian/cache/
docker/makinacorpus/*/deboostrap.tar.gz
docker/makinacorpus/ubuntu_template/Dockerfile
docker/docker/
docker/lxc/
vagrant_config.yml
package.box
package.tar.bz2
docker/debian/debian-base.tar.gz
\.vagrant
vagrant/*/salt
vagrant/*/pillar
vagrant/*/project
vagrant/*/projects
vagrant/*/projets
vagrant/*/projet
.docker*
debian/debian-base.tar.gz
debian/deboostrap/
debian/debian-base.tgz
cache/
deboostrap/
*~
*-console.log
/*.deb
