packer_cache
VM/
salt26
lxcbin
mastersalt-pillar/
mastersalt/
packer/**/*.box
debian/cache/
docker/makinacorpus/*/deboostrap.tar.gz
docker/makinacorpus/ubuntu_template/Dockerfile
docker/docker/
docker/lxc/
vagrant_config.rb
package.box
package.tar.bz2
.vb_name
.vb_subnet
salt/
projects/
pillar/
docker/debian/debian-base.tar.gz
docker-git
\.vagrant
vagrant/*/salt
vagrant/*/pillar
vagrant/*/project
vagrant/*/projects
vagrant/*/projets
vagrant/*/projet
.docker*
ubuntu-base.tar.gz
.done/
debian/debian-base.tar.gz
debian/deboostrap/
debian/debian-base.tgz
cache/
deboostrap/
*~
docker/ubuntu-12.04-server-cloudimg-amd64-root.tar.gz
docker/ubuntu-13.10-server-cloudimg-amd64-root.tar.gz

